.header {
  &__info {
    background-color: $bg-color-header !important;
    &--items {
      ul {
        li {
          a {
            font-family: $font-primary;
            color: $color-item-header !important;
            font-weight: 500;
            font-size: 15px;
            text-transform: uppercase;
          }
          a.active {
            font-weight: bold;
            color: #b7b7b7 !important;
          }
        }
      }
    }
  }
}
