* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  //padding-top: 56px;
  position: relative;
  font-family: $font-primary;

  //min-height: 75rem;
  //padding-top: 4.5rem;
}
